.whole {
    background-color: #277771;
	width: 1300px;
	height: 1700px;
	padding: 40px;
	margin: auto;
	border-radius: 150px/90px;
	background: url(https://images.blogthings.com/thecolorfulpatterntest/pattern-4.png) fixed;
}
.header {
    position: relative;
}
.preview {
	height: 150px;
	width: 1000px;
	background-color: #1AA890;
	position: relative;
	margin: auto;
	border-radius: 80px/40px;
	font-family: "Abril Fatface";
	font-size: 90px;
	text-shadow: 5px 5px 10px gray;
	color: #FFE4E1;
	text-align: center;
	padding-top: 27px;
}
.container {
	background-color: #1AA890;
	width: 1200px;
	margin: auto;
	height: 1400px;
	top: 25px;
	position: relative;
	border-radius: 80px/40px;
	font-size: 20px;
}
.nav a{	
	float: left;
	width: 219px;
	color: white;
	background-color: #C71B58;
	padding: 10px;
	border-right: 1px solid white;
	text-align: center;
	text-decoration: none;
	border-radius: 60px/5px;
	font-family: "Fredoka One";
}

a:hover {
	background-color: #7FFFD4;
	color: #C71B58;
	border-radius: 15px/5px;
}
a {
	text-decoration: none;
}
.mid {
	padding: 20px;
}
.midtext {
	margin: auto;
	text-align: justify;
	font-size: 20px;
	color: white;
}
img {
	padding-right: 50px;
	position: relative;
	float: left;
	width: 300px;
	height: 450px;
}
.midtext li {
	text-align: justify;
}
.footer {
	color: black;
    position: relative;
	font-size: 20px;
	top: 60px;
	left: 8px;
	background-color: #1AA890;
	width: 780px;
	height: 35px;
	margin: auto;
	text-align: center;
	border-radius: 40px/30px;
}